* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --aqua-primary: aquamarine; 
  --gray-text: #848484;
  --title-text: rgb(44, 44, 44);
  --page-padding: 30rem;
}

@media(max-width: 1024px) {
  :root {
    --page-padding: 10rem;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  color: var(--gray-text);
}

main {
  padding: 0 var(--page-padding);
  min-height: calc(100vh - 10vh);
  display: flex;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.localization {
  padding-top: 15rem;
}

.localization h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.localization p {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--gray-text);
}

.business-service-schedule {
  padding: 2rem 0;
}

.business-service-schedule h3 {
  padding: 2rem 0;
  font-size: 2.5rem;
}

.business-service-schedule p {
  color: var(--gray-text);
  line-height: 3rem;
  font-size: 1.8rem;
}

.map-view {
  display: flex;
  flex: 1;
  margin: 5rem 0;
  align-items: center;
}

.map-view iframe {
  height: 85vh;
  width: 100%;
}
